@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

html, body {
  background: linear-gradient(180deg, #F0EDEE 15%, #29A7FF 75%);
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 0 12px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 680px;
  margin: 0 auto;
  min-height: 100vh;
}

a, a:visited {
  color: blue;
  text-decoration: none;
  font-size: 16px;
}

a:focus, a:hover {
  text-decoration: underline;
  outline: none;
}

h1 {
  color: black;
  font-family: 'Instrument Serif', serif;
}

p {
  color: blanchedalmond;
}
